<!DOCTYPE>
<html>
<head>
<title>Deposit</title>
</head>
<body>
  <h3> Welcome <%=@name%> </h3>

<h2> Deposit</h2>
  <form method="post" action="/deposit">
    Amount: <br>
    <input type="number" name="amount">
    <br>
     <br>
    <input type="submit" name="deposit">
  </form>
</body>
</html>
