<!DOCTYPE>
<html>
<head>
<title>Home</title>
</head>
<body>
  <h3> Welcome <%=@name%> </h3>
  
  <p> Choose an option:</p>

<a href='deposit'><button > Deposit</button></a>
<a href='withdraw'><button> Withdraw</button></a>
<a href='balance'><button> Check Balance</button></a>

</body>
</html>
