<!DOCTYPE>
<html>
<head>

</head>
<body>
  <h2>Withdraw</h2>
  <form method="post" action="/withdraw">
    Agent Number: <br>
    <input type="text" name="agent_number">
    <br>
    <br>
    Amount: <br>
    <input type="number" name="amount">
    <br>
    <br>
    Transaction Cost: <br>
    <input type="number" name="transaction_cost">
    <br>
    <br>
    Pin: <br>
    <input type="password" name="pin">
    <br>
    <br>
    <input type="submit" name="withdraw">
  </form>

<h2> Balance </h2>
  <form method="get" action="/balance">
    Check your balance <br>
    <input type="submit" name="check balance">
  </form>

<h2> Deposit</h2>
  <form method="get" action="/deposit">
    Amount: <br>
    <input type="number" name="amount">
    <br>
     <br>
    <input type="submit" name="deposit">
  </form>
</body>
</html>
