<!DOCTYPE>
<html>
<head>

</head>
<body>
  <form method="post" action="/withdraw">
    Agent Number: <br>
    <input type="text" name="agent_number">
    <br>
    <br>
    Amount: <br>
    <input type="number" name="amount">
    <br>
    <br>
    Pin: <br>
    <input type="password" name="pin">
    <br>
    <br>
    <input type="submit" name="withdraw">
  </form>
  </form>
</body>
</html>
